$primary-color: #f07100;
$secondary-color: #459227;
$dark-color: #3b3b3b;


$main-font: 'Raleway', sans-serif;
$secondary-font: 'Libre Baskerville', serif;


$banner-img: '../images/banner.jpg';




//GLOBAL STYLE 
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: $main-font;
    line-height: 1.3;
}

p { padding-bottom: 15px;} 


//MIXINS
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
